/* scheme/css/cellHighlighter.css */

.layer {
  opacity: 1; /* Полная непрозрачность по умолчанию */
  transition: opacity 0.5s ease; /* Плавное изменение прозрачности */
}

.layer.dimmed {
  opacity: 0.5; /* Полупрозрачность для неактивных слоев */
}

.cell {
  transition: opacity 0.5s ease; /* Добавляем плавный переход для текстовых блоков */
}

.cell.dimmed {
  opacity: 0.5; /* Полупрозрачность для неактивных текстовых блоков */
}
