.intro {
  padding: 2rem;
  color: white;
}

.intro h1 {
  font-size: 60px;
  line-height: 1.1;
  letter-spacing: -1px;

  @media (max-width: 768px) {
    font-size: 40px;
  }
}

.intro p {
  max-width: 40em;
  font-size: 18px;
  line-height: 1.5;

  @media (max-width: 768px) {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .intro {
    padding: 1rem;
  }
}

@media (max-width: 768px) {
  .intro {
    padding: 1.5rem;
  }
}
